:root {
	--web-view-ids: Home;
	--web-view-name: Home;
	--web-view-id: Home;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-enable-scale-up: false;
	--web-scale-on-resize: true;
	--web-show-scale-controls: false;
	--web-scale-on-double-click: false;
	--web-center-horizontally: false;
	--web-center-vertically: false;
	--web-actual-size-on-double-click: false;
	--web-navigate-on-keypress: false;
	--web-refresh-for-changes: true;
	--web-add-image-compare: false;
	--web-show-by-media-query: true;
	--web-application: false;
	--web-show-navigation-controls: false;
	--web-enable-deep-linking: true;
	--web-is-overlay: false;
	--web-page-font: Noto Sans, Times New Roman, Bebas Neue;
}
#Home {
	display: none;
}
@media (min-width: 0px) {
	.mediaViewInfo {
		--web-view-name: Home;
		--web-view-id: Home;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: fit;
		--web-scale-on-resize: true;
		--web-refresh-for-changes: true;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
		--web-page-font: Noto Sans, Times New Roman, Bebas Neue;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Home {
		position: absolute;
		display: block;
		width: 375px;
		height: 1561px;
		font-family: Noto Sans, Times New Roman, Bebas Neue;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: Home;
		--web-view-id: Home;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: fit;
		--web-scale-on-resize: true;
		--web-refresh-for-changes: true;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
		--web-page-font: Noto Sans, Times New Roman, Bebas Neue;
	}
	#Group_518 {
		opacity: 0.08;
		position: absolute;
		width: 375px;
		height: 570px;
		left: 0px;
		top: 217px;
		overflow: visible;
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		cursor: pointer;
	}
	#Path_49 {
		fill: rgba(173,140,135,1);
	}
	.Path_49 {
		overflow: visible;
		position: absolute;
		width: 20.718px;
		height: 26.726px;
		left: 48.665px;
		top: 240.564px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_50 {
		fill: rgba(173,140,135,1);
	}
	.Path_50 {
		overflow: visible;
		position: absolute;
		width: 20.718px;
		height: 26.726px;
		left: 68.176px;
		top: 240.564px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_51 {
		fill: rgba(173,140,135,1);
	}
	.Path_51 {
		overflow: visible;
		position: absolute;
		width: 20.718px;
		height: 26.726px;
		left: 64.491px;
		top: 240.564px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_52 {
		fill: rgba(150,64,64,1);
	}
	.Path_52 {
		overflow: visible;
		position: absolute;
		width: 7.633px;
		height: 9.847px;
		left: 367.367px;
		top: 53.221px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_53 {
		fill: rgba(150,64,64,1);
	}
	.Path_53 {
		overflow: visible;
		position: absolute;
		width: 7.633px;
		height: 9.847px;
		left: 367.367px;
		top: 66.667px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_54 {
		fill: rgba(150,64,64,1);
	}
	.Path_54 {
		overflow: visible;
		position: absolute;
		width: 7.633px;
		height: 9.848px;
		left: 367.367px;
		top: 80.113px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_55 {
		fill: rgba(150,64,64,1);
	}
	.Path_55 {
		overflow: visible;
		position: absolute;
		width: 7.633px;
		height: 9.848px;
		left: 367.367px;
		top: 93.559px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_56 {
		fill: rgba(150,64,64,1);
	}
	.Path_56 {
		overflow: visible;
		position: absolute;
		width: 7.633px;
		height: 9.847px;
		left: 367.367px;
		top: 114.323px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_57 {
		fill: rgba(150,64,64,1);
	}
	.Path_57 {
		overflow: visible;
		position: absolute;
		width: 7.633px;
		height: 9.847px;
		left: 367.367px;
		top: 128.689px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_58 {
		fill: rgba(150,64,64,1);
	}
	.Path_58 {
		overflow: visible;
		position: absolute;
		width: 7.634px;
		height: 9.847px;
		left: 49.599px;
		top: 190.197px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_59 {
		fill: rgba(150,64,64,1);
	}
	.Path_59 {
		overflow: visible;
		position: absolute;
		width: 7.634px;
		height: 9.848px;
		left: 49.599px;
		top: 197.9px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_60 {
		fill: rgba(150,64,64,1);
	}
	.Path_60 {
		overflow: visible;
		position: absolute;
		width: 7.634px;
		height: 9.848px;
		left: 49.599px;
		top: 205.603px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_61 {
		fill: rgba(150,64,64,1);
	}
	.Path_61 {
		overflow: visible;
		position: absolute;
		width: 7.634px;
		height: 9.848px;
		left: 49.599px;
		top: 213.307px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_62 {
		fill: rgba(150,64,64,1);
	}
	.Path_62 {
		overflow: visible;
		position: absolute;
		width: 7.634px;
		height: 9.848px;
		left: 49.599px;
		top: 221.01px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_63 {
		fill: rgba(150,64,64,1);
	}
	.Path_63 {
		overflow: visible;
		position: absolute;
		width: 7.634px;
		height: 9.848px;
		left: 49.599px;
		top: 228.713px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_64 {
		fill: rgba(150,64,64,1);
	}
	.Path_64 {
		overflow: visible;
		position: absolute;
		width: 7.634px;
		height: 9.848px;
		left: 290.368px;
		top: 416.198px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_65 {
		fill: rgba(150,64,64,1);
	}
	.Path_65 {
		overflow: visible;
		position: absolute;
		width: 7.634px;
		height: 9.848px;
		left: 290.368px;
		top: 430.563px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_66 {
		fill: rgba(150,64,64,1);
	}
	.Path_66 {
		overflow: visible;
		position: absolute;
		width: 7.634px;
		height: 9.848px;
		left: 290.368px;
		top: 444.929px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_67 {
		fill: rgba(150,64,64,1);
	}
	.Path_67 {
		overflow: visible;
		position: absolute;
		width: 7.634px;
		height: 9.847px;
		left: 290.368px;
		top: 465.75px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_68 {
		fill: rgba(150,64,64,1);
	}
	.Path_68 {
		overflow: visible;
		position: absolute;
		width: 7.634px;
		height: 9.847px;
		left: 290.368px;
		top: 479.196px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_69 {
		fill: rgba(150,64,64,1);
	}
	.Path_69 {
		overflow: visible;
		position: absolute;
		width: 7.634px;
		height: 9.848px;
		left: 290.368px;
		top: 492.643px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_70 {
		fill: rgba(173,140,135,1);
	}
	.Path_70 {
		overflow: visible;
		position: absolute;
		width: 20.718px;
		height: 26.726px;
		left: 267.397px;
		top: 121.855px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_71 {
		fill: rgba(173,140,135,1);
	}
	.Path_71 {
		overflow: visible;
		position: absolute;
		width: 20.718px;
		height: 26.726px;
		left: 293.196px;
		top: 121.855px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_72 {
		fill: rgba(173,140,135,1);
	}
	.Path_72 {
		overflow: visible;
		position: absolute;
		width: 20.718px;
		height: 26.726px;
		left: 313.759px;
		top: 121.855px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_515 {
		position: absolute;
		width: 375px;
		height: 570px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_514 {
		position: absolute;
		width: 375px;
		height: 570px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Line_8 {
		fill: transparent;
		stroke: rgba(76,70,66,1);
		stroke-width: 0.9919999837875366px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_8 {
		overflow: visible;
		position: absolute;
		width: 0.992px;
		height: 29.829px;
		left: 323.614px;
		top: 431.655px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_9 {
		fill: transparent;
		stroke: rgba(76,70,66,1);
		stroke-width: 0.7870000004768372px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_9 {
		overflow: visible;
		position: absolute;
		width: 18.775px;
		height: 0.787px;
		left: 314.226px;
		top: 448.039px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_10 {
		fill: transparent;
		stroke: rgba(76,70,66,1);
		stroke-width: 0.9919999837875366px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_10 {
		overflow: visible;
		position: absolute;
		width: 0.992px;
		height: 29.83px;
		left: 57.233px;
		top: 105.929px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_11 {
		fill: transparent;
		stroke: rgba(76,70,66,1);
		stroke-width: 0.7870000004768372px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_11 {
		overflow: visible;
		position: absolute;
		width: 18.775px;
		height: 0.787px;
		left: 47.845px;
		top: 117.194px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_12 {
		fill: transparent;
		stroke: rgba(76,70,66,1);
		stroke-width: 0.9919999837875366px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_12 {
		overflow: visible;
		position: absolute;
		width: 0.992px;
		height: 29.83px;
		left: 96.784px;
		top: 268.591px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_13 {
		fill: transparent;
		stroke: rgba(76,70,66,1);
		stroke-width: 0.7870000004768372px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_13 {
		overflow: visible;
		position: absolute;
		width: 18.775px;
		height: 0.787px;
		left: 87.981px;
		top: 281.167px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_14 {
		fill: transparent;
		stroke: rgba(76,70,66,1);
		stroke-width: 0.9919999837875366px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_14 {
		overflow: visible;
		position: absolute;
		width: 0.992px;
		height: 29.829px;
		left: 334.477px;
		top: 288.332px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_15 {
		fill: transparent;
		stroke: rgba(76,70,66,1);
		stroke-width: 0.7870000004768372px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_15 {
		overflow: visible;
		position: absolute;
		width: 18.775px;
		height: 0.787px;
		left: 325.089px;
		top: 301.37px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_517 {
		position: absolute;
		width: 375px;
		height: 570px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_516 {
		position: absolute;
		width: 375px;
		height: 570px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_17_bi {
		opacity: 0.809;
		fill: url(#Rectangle_17_bi);
	}
	.Rectangle_17_bi {
		position: absolute;
		overflow: visible;
		width: 375px;
		height: 763px;
		left: 0px;
		top: 0px;
	}
	#Title {
		left: 67px;
		top: 730.75px;
		position: absolute;
		overflow: visible;
		width: 242px;
		height: 34px;
		text-align: center;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(31,31,57,1);
	}
	#Group_519 {
		position: absolute;
		width: 359px;
		height: 135.607px;
		left: 8px;
		top: 40.688px;
		overflow: visible;
	}
	#New_Layer {
		position: absolute;
		width: 90.029px;
		height: 90.029px;
		left: 134.934px;
		top: 0px;
		overflow: visible;
	}
	#Group_3 {
		position: absolute;
		width: 90.029px;
		height: 90.029px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_2 {
		position: absolute;
		width: 90.029px;
		height: 90.029px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#All {
		left: 0px;
		top: 95.607px;
		position: absolute;
		overflow: hidden;
		width: 360px;
		height: 19px;
		text-align: center;
		font-family: Times New Roman, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 19px;
		color: rgba(0,0,0,1);
	}
	#All_bp {
		left: 0px;
		top: 116.607px;
		position: absolute;
		overflow: hidden;
		width: 360px;
		height: 19px;
		text-align: center;
		font-family: Times New Roman, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(0,0,0,1);
	}
	#Line_16 {
		fill: transparent;
		stroke: rgba(141,45,71,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_16 {
		overflow: visible;
		position: absolute;
		width: 375px;
		height: 2px;
		left: 0.5px;
		top: 217px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_520 {
		position: absolute;
		width: 344px;
		height: 31px;
		left: 16px;
		top: 246.705px;
		overflow: visible;
	}
	#All_bs {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 345px;
		height: 31px;
		text-align: center;
		font-family: Bebas Neue, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(77,70,66,1);
	}
	#Label {
		position: absolute;
		width: 139px;
		height: 19px;
		left: 16px;
		top: 851.75px;
		overflow: visible;
	}
	#Group_521 {
		position: absolute;
		width: 139px;
		height: 19px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#n_2501_hour {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 140px;
		height: 19px;
		text-align: left;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		color: rgba(31,31,57,1);
	}
	#Label_bw {
		position: absolute;
		width: 139px;
		height: 19px;
		left: 16px;
		top: 1012.75px;
		overflow: visible;
	}
	#Group_521_bx {
		position: absolute;
		width: 139px;
		height: 19px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#n_2501_hour_by {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 140px;
		height: 19px;
		text-align: left;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		color: rgba(31,31,57,1);
	}
	#Label_bz {
		position: absolute;
		width: 139px;
		height: 19px;
		left: 16px;
		top: 921.75px;
		overflow: visible;
	}
	#Group_521_b {
		position: absolute;
		width: 139px;
		height: 19px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#n_2501_hour_b {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 140px;
		height: 19px;
		text-align: left;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		color: rgba(31,31,57,1);
	}
	#Label_b {
		position: absolute;
		width: 139px;
		height: 19px;
		left: 16px;
		top: 1082.75px;
		overflow: visible;
	}
	#Group_521_ca {
		position: absolute;
		width: 139px;
		height: 19px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#n_2501_hour_ca {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 140px;
		height: 19px;
		text-align: left;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		color: rgba(31,31,57,1);
	}
	#Label_ca {
		position: absolute;
		width: 139px;
		height: 19px;
		left: 16px;
		top: 886.75px;
		overflow: visible;
	}
	#Group_521_cb {
		position: absolute;
		width: 139px;
		height: 19px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#n_2501_hour_cb {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 140px;
		height: 19px;
		text-align: left;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		color: rgba(31,31,57,1);
	}
	#Label_cb {
		position: absolute;
		width: 139px;
		height: 19px;
		left: 16px;
		top: 1047.75px;
		overflow: visible;
	}
	#Group_521_cc {
		position: absolute;
		width: 139px;
		height: 19px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#n_2501_hour_cc {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 140px;
		height: 19px;
		text-align: left;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		color: rgba(31,31,57,1);
	}
	#Label_cc {
		position: absolute;
		width: 139px;
		height: 19px;
		left: 16px;
		top: 795.75px;
		overflow: visible;
	}
	#Group_521_cd {
		position: absolute;
		width: 139px;
		height: 19px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#n_2501_hour_cd {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 140px;
		height: 19px;
		text-align: left;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		color: rgba(31,31,57,1);
	}
	#Label_ce {
		position: absolute;
		width: 344px;
		height: 17px;
		left: 16px;
		top: 817.75px;
		overflow: visible;
	}
	#Group_521_cf {
		position: absolute;
		width: 344px;
		height: 17px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#n_2501_hour_cg {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 345px;
		height: 17px;
		line-height: 14px;
		margin-top: -1px;
		text-align: center;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(31,31,57,1);
	}
	#n_2501_hour_ch {
		left: 191px;
		top: 795.75px;
		position: absolute;
		overflow: visible;
		width: 170px;
		height: 18px;
		line-height: 14px;
		margin-top: -0.5px;
		text-align: right;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(31,31,57,1);
	}
	#n_2501_hour_ci {
		left: 191px;
		top: 851.75px;
		position: absolute;
		overflow: visible;
		width: 170px;
		height: 18px;
		line-height: 14px;
		margin-top: -0.5px;
		text-align: right;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(31,31,57,1);
	}
	#n_2501_hour_cj {
		left: 191px;
		top: 1012.75px;
		position: absolute;
		overflow: visible;
		width: 170px;
		height: 18px;
		line-height: 14px;
		margin-top: -0.5px;
		text-align: right;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(31,31,57,1);
	}
	#n_2501_hour_ck {
		left: 191px;
		top: 921.75px;
		position: absolute;
		overflow: visible;
		width: 170px;
		height: 18px;
		line-height: 14px;
		margin-top: -0.5px;
		text-align: right;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(31,31,57,1);
	}
	#n_2501_hour_cl {
		left: 191px;
		top: 1082.75px;
		position: absolute;
		overflow: visible;
		width: 170px;
		height: 18px;
		line-height: 14px;
		margin-top: -0.5px;
		text-align: right;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(31,31,57,1);
	}
	#n_2501_hour_cm {
		left: 139px;
		top: 1170.75px;
		position: absolute;
		overflow: visible;
		width: 222px;
		height: 18px;
		line-height: 14px;
		margin-top: -0.5px;
		text-align: right;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(31,31,57,1);
	}
	#n_2501_hour_cn {
		left: 191px;
		top: 1126.75px;
		position: absolute;
		overflow: visible;
		width: 170px;
		height: 18px;
		line-height: 14px;
		margin-top: -0.5px;
		text-align: right;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(31,31,57,1);
	}
	#n_2501_hour_co {
		left: 191px;
		top: 1214.75px;
		position: absolute;
		overflow: visible;
		width: 170px;
		height: 18px;
		line-height: 14px;
		margin-top: -0.5px;
		text-align: right;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(31,31,57,1);
	}
	#n_2501_hour_cp {
		left: 191px;
		top: 1104.75px;
		position: absolute;
		overflow: visible;
		width: 170px;
		height: 18px;
		line-height: 14px;
		margin-top: -0.5px;
		text-align: right;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(31,31,57,1);
	}
	#n_2501_hour_cq {
		left: 139px;
		top: 1192.75px;
		position: absolute;
		overflow: visible;
		width: 222px;
		height: 18px;
		line-height: 14px;
		margin-top: -0.5px;
		text-align: right;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(31,31,57,1);
	}
	#n_2501_hour_cr {
		left: 191px;
		top: 1148.75px;
		position: absolute;
		overflow: visible;
		width: 170px;
		height: 18px;
		line-height: 14px;
		margin-top: -0.5px;
		text-align: right;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(31,31,57,1);
	}
	#n_2501_hour_cs {
		left: 191px;
		top: 886.75px;
		position: absolute;
		overflow: visible;
		width: 170px;
		height: 18px;
		line-height: 14px;
		margin-top: -0.5px;
		text-align: right;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(31,31,57,1);
	}
	#n_2501_hour_ct {
		left: 191px;
		top: 1047.75px;
		position: absolute;
		overflow: visible;
		width: 170px;
		height: 18px;
		line-height: 14px;
		margin-top: -0.5px;
		text-align: right;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(31,31,57,1);
	}
	#Label_cu {
		position: absolute;
		width: 139px;
		height: 19px;
		left: 16px;
		top: 956.75px;
		overflow: visible;
	}
	#Group_521_cv {
		position: absolute;
		width: 139px;
		height: 19px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#n_2501_hour_cw {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 140px;
		height: 19px;
		text-align: left;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		color: rgba(31,31,57,1);
	}
	#Label_cx {
		position: absolute;
		width: 139px;
		height: 19px;
		left: 16px;
		top: 1249.75px;
		overflow: visible;
	}
	#Group_521_cy {
		position: absolute;
		width: 139px;
		height: 19px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#n_2501_hour_cz {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 140px;
		height: 19px;
		text-align: left;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		color: rgba(31,31,57,1);
	}
	#Label_c {
		position: absolute;
		width: 139px;
		height: 19px;
		left: 16px;
		top: 1305.75px;
		overflow: visible;
	}
	#Group_521_c {
		position: absolute;
		width: 139px;
		height: 19px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#n_2501_hour_c {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 140px;
		height: 19px;
		text-align: left;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		color: rgba(31,31,57,1);
	}
	#Label_da {
		position: absolute;
		width: 139px;
		height: 19px;
		left: 16px;
		top: 1361.75px;
		overflow: visible;
	}
	#Group_521_da {
		position: absolute;
		width: 139px;
		height: 19px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#n_2501_hour_da {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 140px;
		height: 19px;
		text-align: left;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		color: rgba(31,31,57,1);
	}
	#Label_db {
		position: absolute;
		width: 198px;
		height: 19px;
		left: 16px;
		top: 1396.75px;
		overflow: visible;
	}
	#Group_521_db {
		position: absolute;
		width: 198px;
		height: 19px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#n_2501_hour_db {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 199px;
		height: 19px;
		text-align: left;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		color: rgba(31,31,57,1);
	}
	#Label_dc {
		position: absolute;
		width: 198px;
		height: 19px;
		left: 16px;
		top: 1431.75px;
		overflow: visible;
	}
	#Group_521_dc {
		position: absolute;
		width: 198px;
		height: 19px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#n_2501_hour_dc {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 199px;
		height: 19px;
		text-align: left;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		color: rgba(31,31,57,1);
	}
	#Label_dd {
		position: absolute;
		width: 198px;
		height: 19px;
		left: 16px;
		top: 1466.75px;
		overflow: visible;
	}
	#Group_521_dd {
		position: absolute;
		width: 198px;
		height: 19px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#n_2501_hour_de {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 199px;
		height: 19px;
		text-align: left;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		color: rgba(31,31,57,1);
	}
	#Label_df {
		position: absolute;
		width: 344px;
		height: 17px;
		left: 16px;
		top: 978.75px;
		overflow: visible;
	}
	#Group_521_dg {
		position: absolute;
		width: 344px;
		height: 17px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#n_2501_hour_dh {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 345px;
		height: 17px;
		line-height: 14px;
		margin-top: -1px;
		text-align: center;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(31,31,57,1);
	}
	#Label_di {
		position: absolute;
		width: 344px;
		height: 17px;
		left: 16px;
		top: 1271.75px;
		overflow: visible;
	}
	#Group_521_dj {
		position: absolute;
		width: 344px;
		height: 17px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#n_2501_hour_dk {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 345px;
		height: 17px;
		line-height: 14px;
		margin-top: -1px;
		text-align: center;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(31,31,57,1);
	}
	#Label_dl {
		position: absolute;
		width: 344px;
		height: 17px;
		left: 16px;
		top: 1327.75px;
		overflow: visible;
	}
	#Group_521_dm {
		position: absolute;
		width: 344px;
		height: 17px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#n_2501_hour_dn {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 345px;
		height: 17px;
		line-height: 14px;
		margin-top: -1px;
		text-align: center;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(31,31,57,1);
	}
	#n_2501_hour_do {
		left: 191px;
		top: 956.75px;
		position: absolute;
		overflow: visible;
		width: 170px;
		height: 18px;
		line-height: 14px;
		margin-top: -0.5px;
		text-align: right;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(31,31,57,1);
	}
	#n_2501_hour_dp {
		left: 191px;
		top: 1249.75px;
		position: absolute;
		overflow: visible;
		width: 170px;
		height: 18px;
		line-height: 14px;
		margin-top: -0.5px;
		text-align: right;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(31,31,57,1);
	}
	#n_2501_hour_dq {
		left: 191px;
		top: 1305.75px;
		position: absolute;
		overflow: visible;
		width: 170px;
		height: 18px;
		line-height: 14px;
		margin-top: -0.5px;
		text-align: right;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(31,31,57,1);
	}
	#n_2501_hour_dr {
		left: 191px;
		top: 1361.75px;
		position: absolute;
		overflow: visible;
		width: 170px;
		height: 18px;
		line-height: 14px;
		margin-top: -0.5px;
		text-align: right;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(31,31,57,1);
	}
	#n_2501_hour_ds {
		left: 191px;
		top: 1396.75px;
		position: absolute;
		overflow: visible;
		width: 170px;
		height: 18px;
		line-height: 14px;
		margin-top: -0.5px;
		text-align: right;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(31,31,57,1);
	}
	#n_2501_hour_dt {
		left: 191px;
		top: 1431.75px;
		position: absolute;
		overflow: visible;
		width: 170px;
		height: 18px;
		line-height: 14px;
		margin-top: -0.5px;
		text-align: right;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(31,31,57,1);
	}
	#n_2501_hour_du {
		left: 163px;
		top: 1466.75px;
		position: absolute;
		overflow: visible;
		width: 198px;
		height: 18px;
		line-height: 14px;
		margin-top: -0.5px;
		text-align: right;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(31,31,57,1);
	}
	#Line_20 {
		fill: transparent;
		stroke: rgba(149,64,65,0.553);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_20 {
		overflow: visible;
		position: absolute;
		width: 344px;
		height: 1px;
		left: 16px;
		top: 1496.25px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_21 {
		fill: transparent;
		stroke: rgba(149,64,65,0.553);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_21 {
		overflow: visible;
		position: absolute;
		width: 344px;
		height: 1px;
		left: 16px;
		top: 1460.25px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_22 {
		fill: transparent;
		stroke: rgba(149,64,65,0.553);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_22 {
		overflow: visible;
		position: absolute;
		width: 344px;
		height: 1px;
		left: 16px;
		top: 1425.25px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_23 {
		fill: transparent;
		stroke: rgba(149,64,65,0.553);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_23 {
		overflow: visible;
		position: absolute;
		width: 344px;
		height: 1px;
		left: 16px;
		top: 1390.25px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_24 {
		fill: transparent;
		stroke: rgba(149,64,65,0.553);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_24 {
		overflow: visible;
		position: absolute;
		width: 344px;
		height: 1px;
		left: 16px;
		top: 1355.25px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_25 {
		fill: transparent;
		stroke: rgba(149,64,65,0.553);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_25 {
		overflow: visible;
		position: absolute;
		width: 344px;
		height: 1px;
		left: 16px;
		top: 1299.25px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_26 {
		fill: transparent;
		stroke: rgba(149,64,65,0.553);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_26 {
		overflow: visible;
		position: absolute;
		width: 344px;
		height: 1px;
		left: 16px;
		top: 1243.25px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_27 {
		fill: transparent;
		stroke: rgba(149,64,65,0.553);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_27 {
		overflow: visible;
		position: absolute;
		width: 344px;
		height: 1px;
		left: 16px;
		top: 1076.25px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_28 {
		fill: transparent;
		stroke: rgba(149,64,65,0.553);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_28 {
		overflow: visible;
		position: absolute;
		width: 344px;
		height: 1px;
		left: 16px;
		top: 1041.25px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_29 {
		fill: transparent;
		stroke: rgba(149,64,65,0.553);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_29 {
		overflow: visible;
		position: absolute;
		width: 344px;
		height: 1px;
		left: 16px;
		top: 789.75px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_30 {
		fill: transparent;
		stroke: rgba(149,64,65,0.553);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_30 {
		overflow: visible;
		position: absolute;
		width: 344px;
		height: 1px;
		left: 16px;
		top: 950.25px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_34 {
		fill: transparent;
		stroke: rgba(149,64,65,0.553);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_34 {
		overflow: visible;
		position: absolute;
		width: 344px;
		height: 1px;
		left: 16px;
		top: 1006.25px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_31 {
		fill: transparent;
		stroke: rgba(149,64,65,0.553);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_31 {
		overflow: visible;
		position: absolute;
		width: 344px;
		height: 1px;
		left: 16px;
		top: 915.25px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_32 {
		fill: transparent;
		stroke: rgba(149,64,65,0.553);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_32 {
		overflow: visible;
		position: absolute;
		width: 344px;
		height: 1px;
		left: 16px;
		top: 880.25px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_33 {
		fill: transparent;
		stroke: rgba(149,64,65,0.553);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_33 {
		overflow: visible;
		position: absolute;
		width: 344px;
		height: 1px;
		left: 16px;
		top: 845.75px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_524 {
		opacity: 0.08;
		position: absolute;
		width: 375px;
		height: 570px;
		left: 0px;
		top: 957px;
		overflow: visible;
	}
	#Path_49_eb {
		fill: rgba(173,140,135,1);
	}
	.Path_49_eb {
		overflow: visible;
		position: absolute;
		width: 20.718px;
		height: 26.726px;
		left: 48.665px;
		top: 240.564px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_50_ec {
		fill: rgba(173,140,135,1);
	}
	.Path_50_ec {
		overflow: visible;
		position: absolute;
		width: 20.718px;
		height: 26.726px;
		left: 68.176px;
		top: 240.564px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_51_ed {
		fill: rgba(173,140,135,1);
	}
	.Path_51_ed {
		overflow: visible;
		position: absolute;
		width: 20.718px;
		height: 26.726px;
		left: 64.491px;
		top: 240.564px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_52_ee {
		fill: rgba(150,64,64,1);
	}
	.Path_52_ee {
		overflow: visible;
		position: absolute;
		width: 7.633px;
		height: 9.847px;
		left: 367.367px;
		top: 53.221px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_53_ef {
		fill: rgba(150,64,64,1);
	}
	.Path_53_ef {
		overflow: visible;
		position: absolute;
		width: 7.633px;
		height: 9.847px;
		left: 367.367px;
		top: 66.667px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_54_eg {
		fill: rgba(150,64,64,1);
	}
	.Path_54_eg {
		overflow: visible;
		position: absolute;
		width: 7.633px;
		height: 9.848px;
		left: 367.367px;
		top: 80.113px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_55_eh {
		fill: rgba(150,64,64,1);
	}
	.Path_55_eh {
		overflow: visible;
		position: absolute;
		width: 7.633px;
		height: 9.848px;
		left: 367.367px;
		top: 93.559px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_56_ei {
		fill: rgba(150,64,64,1);
	}
	.Path_56_ei {
		overflow: visible;
		position: absolute;
		width: 7.633px;
		height: 9.847px;
		left: 367.367px;
		top: 114.323px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_57_ej {
		fill: rgba(150,64,64,1);
	}
	.Path_57_ej {
		overflow: visible;
		position: absolute;
		width: 7.633px;
		height: 9.847px;
		left: 367.367px;
		top: 128.689px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_58_ek {
		fill: rgba(150,64,64,1);
	}
	.Path_58_ek {
		overflow: visible;
		position: absolute;
		width: 7.634px;
		height: 9.847px;
		left: 49.599px;
		top: 190.197px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_59_el {
		fill: rgba(150,64,64,1);
	}
	.Path_59_el {
		overflow: visible;
		position: absolute;
		width: 7.634px;
		height: 9.848px;
		left: 49.599px;
		top: 197.9px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_60_em {
		fill: rgba(150,64,64,1);
	}
	.Path_60_em {
		overflow: visible;
		position: absolute;
		width: 7.634px;
		height: 9.848px;
		left: 49.599px;
		top: 205.603px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_61_en {
		fill: rgba(150,64,64,1);
	}
	.Path_61_en {
		overflow: visible;
		position: absolute;
		width: 7.634px;
		height: 9.848px;
		left: 49.599px;
		top: 213.307px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_62_eo {
		fill: rgba(150,64,64,1);
	}
	.Path_62_eo {
		overflow: visible;
		position: absolute;
		width: 7.634px;
		height: 9.848px;
		left: 49.599px;
		top: 221.01px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_63_ep {
		fill: rgba(150,64,64,1);
	}
	.Path_63_ep {
		overflow: visible;
		position: absolute;
		width: 7.634px;
		height: 9.848px;
		left: 49.599px;
		top: 228.713px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_64_eq {
		fill: rgba(150,64,64,1);
	}
	.Path_64_eq {
		overflow: visible;
		position: absolute;
		width: 7.634px;
		height: 9.848px;
		left: 290.368px;
		top: 416.198px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_65_er {
		fill: rgba(150,64,64,1);
	}
	.Path_65_er {
		overflow: visible;
		position: absolute;
		width: 7.634px;
		height: 9.848px;
		left: 290.368px;
		top: 430.563px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_66_es {
		fill: rgba(150,64,64,1);
	}
	.Path_66_es {
		overflow: visible;
		position: absolute;
		width: 7.634px;
		height: 9.848px;
		left: 290.368px;
		top: 444.929px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_67_et {
		fill: rgba(150,64,64,1);
	}
	.Path_67_et {
		overflow: visible;
		position: absolute;
		width: 7.634px;
		height: 9.847px;
		left: 290.368px;
		top: 465.75px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_68_eu {
		fill: rgba(150,64,64,1);
	}
	.Path_68_eu {
		overflow: visible;
		position: absolute;
		width: 7.634px;
		height: 9.847px;
		left: 290.368px;
		top: 479.196px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_69_ev {
		fill: rgba(150,64,64,1);
	}
	.Path_69_ev {
		overflow: visible;
		position: absolute;
		width: 7.634px;
		height: 9.848px;
		left: 290.368px;
		top: 492.643px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_70_ew {
		fill: rgba(173,140,135,1);
	}
	.Path_70_ew {
		overflow: visible;
		position: absolute;
		width: 20.718px;
		height: 26.726px;
		left: 267.397px;
		top: 121.855px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_71_ex {
		fill: rgba(173,140,135,1);
	}
	.Path_71_ex {
		overflow: visible;
		position: absolute;
		width: 20.718px;
		height: 26.726px;
		left: 293.196px;
		top: 121.855px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_72_ey {
		fill: rgba(173,140,135,1);
	}
	.Path_72_ey {
		overflow: visible;
		position: absolute;
		width: 20.718px;
		height: 26.726px;
		left: 313.759px;
		top: 121.855px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_515_ez {
		position: absolute;
		width: 375px;
		height: 570px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_514_e {
		position: absolute;
		width: 375px;
		height: 570px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Line_8_e {
		fill: transparent;
		stroke: rgba(76,70,66,1);
		stroke-width: 0.9919999837875366px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_8_e {
		overflow: visible;
		position: absolute;
		width: 0.992px;
		height: 29.829px;
		left: 323.614px;
		top: 431.655px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_9_e {
		fill: transparent;
		stroke: rgba(76,70,66,1);
		stroke-width: 0.7870000004768372px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_9_e {
		overflow: visible;
		position: absolute;
		width: 18.775px;
		height: 0.787px;
		left: 314.226px;
		top: 448.039px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_10_e {
		fill: transparent;
		stroke: rgba(76,70,66,1);
		stroke-width: 0.9919999837875366px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_10_e {
		overflow: visible;
		position: absolute;
		width: 0.992px;
		height: 29.83px;
		left: 57.233px;
		top: 105.929px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_11_e {
		fill: transparent;
		stroke: rgba(76,70,66,1);
		stroke-width: 0.7870000004768372px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_11_e {
		overflow: visible;
		position: absolute;
		width: 18.775px;
		height: 0.787px;
		left: 47.845px;
		top: 117.194px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_12_e {
		fill: transparent;
		stroke: rgba(76,70,66,1);
		stroke-width: 0.9919999837875366px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_12_e {
		overflow: visible;
		position: absolute;
		width: 0.992px;
		height: 29.83px;
		left: 96.784px;
		top: 268.591px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_13_e {
		fill: transparent;
		stroke: rgba(76,70,66,1);
		stroke-width: 0.7870000004768372px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_13_e {
		overflow: visible;
		position: absolute;
		width: 18.775px;
		height: 0.787px;
		left: 87.981px;
		top: 281.167px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_14_e {
		fill: transparent;
		stroke: rgba(76,70,66,1);
		stroke-width: 0.9919999837875366px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_14_e {
		overflow: visible;
		position: absolute;
		width: 0.992px;
		height: 29.829px;
		left: 334.477px;
		top: 288.332px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_15_e {
		fill: transparent;
		stroke: rgba(76,70,66,1);
		stroke-width: 0.7870000004768372px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_15_e {
		overflow: visible;
		position: absolute;
		width: 18.775px;
		height: 0.787px;
		left: 325.089px;
		top: 301.37px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_517_e {
		position: absolute;
		width: 375px;
		height: 570px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_516_fa {
		position: absolute;
		width: 375px;
		height: 570px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_525 {
		position: absolute;
		width: 153px;
		height: 61px;
		left: 16px;
		top: 635px;
		overflow: visible;
        --web-animation: fadein undefineds undefined;
        --web-action-type: page;
        cursor: pointer;
	}
	#Rectangle_18 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_18 {
		position: absolute;
		overflow: visible;
		width: 153px;
		height: 61px;
		left: 0px;
		top: 0px;
	}
	#Title_fd {
		left: 0px;
		top: 15px;
		position: absolute;
		overflow: visible;
		width: 154px;
		height: 31px;
		line-height: 14px;
		margin-top: -1px;
		text-align: center;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		color: rgba(31,31,57,1);
	}
	#Group_526 {
		position: absolute;
		width: 153px;
		height: 61px;
		left: 207px;
		top: 635px;
		overflow: visible;
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		cursor: pointer;
	}
	#Rectangle_19 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_19 {
		position: absolute;
		overflow: visible;
		width: 153px;
		height: 61px;
		left: 0px;
		top: 0px;
	}
	#Title_fg {
		left: 0px;
		top: 15px;
		position: absolute;
		overflow: visible;
		width: 154px;
		height: 31px;
		line-height: 14px;
		margin-top: -1px;
		text-align: center;
		font-family: Noto Sans, Noto Sans, Times New Roman, Bebas Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		color: rgba(31,31,57,1);
	}
	#ANNIV_LOGO {
		position: absolute;
		width: 360px;
		height: 317px;
		left: 8px;
		top: 283px;
		overflow: visible;
	}
}
